* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-header: #222222;
  --color-head-card: #111;
  --color-hover: #b8920b;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 134rem;
  margin: 0 auto;
}

#header .header-top {
  padding: 15px;
  font-size: 14px;
  background: #161c2d;
  color: #fff;
  text-align: center;
}

.header-middle {
  border-bottom: 1px solid #00000017;
}

.header-middle .body {
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle .group-logo img {
  width: 190px;
  height: 40px;
}

.header-middle .group-search form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-middle .group-search :is(input, button) {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #00000017;
  outline: none;
}

.header-middle .group-search input {
  width: 450px;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header-middle .group-search button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  background-color: transparent;
  transition: 0.7s ease;
}

.header-middle .group-search button:hover {
  background-color: var(--color-head-card);
  color: #fff;
}

.header-middle .group-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.group-icon .item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.group-icon .item-icon ion-icon {
  font-size: 35px;
  color: var(--color-hover);
}

.desc-item-icon {
  font-size: 16px;
  color: #3d4750;
}

.desc-item-icon p {
  font-size: 12px;
  margin-bottom: 4px;
}

.desc-item-icon strong {
  font-weight: 600;
}

.group-icon .item-icon:last-child {
  position: relative;
}

.account-dropdown {
  position: absolute;
  top: 200%;
  right: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  width: 180px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease-in;
  border-radius: 6px;
  z-index: 10000;
  background-color: #fff;
}

.account-dropdown li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
}

.account-dropdown ion-icon {
  font-size: 20px !important;
}
.account-dropdown span {
  font-size: 13px !important;
  text-transform: capitalize;
  color: #111;
}

.group-icon .item-icon:last-child:hover .account-dropdown {
  opacity: 1;
  visibility: visible;
}

.header-bottom {
  padding: 20px 0 10px;
}

#nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
#nav ul li a {
  font-size: 16px;
  color: var(--color-head-card);
  font-weight: 600;
  position: relative;
  transition: 0.5s ease;
}

#nav ul li a:hover {
  color: var(--color-hover);
}

#nav ul li a::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 4px;
  border-radius: 20px;
  background-color: var(--color-hover);
  transition: 0.5s ease-in;
}

#nav ul li a:hover::after {
  width: 100%;
}

main .slider-main {
  overflow: hidden;
  margin-top: 15px;
}

.slider-main .slider-wrapper {
  position: relative;
}

.slider-main .slide-container {
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.slider-main .slide-container .img-item {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-main .slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.slider-main .slide-controls button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #fff5;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  transition: 0.5s ease;
}

.slider-main .slide-controls button:hover {
  background-color: #ffffff;
}

.dots-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.dots-slide li {
  width: 20px;
  height: 15px;
  border-radius: 20px;
  transition: 0.75s ease;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dots-slide .active {
  width: 40px;
  border-radius: 10px;
}

#brand-wrap .body-brand {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 40% auto;
  column-gap: 2%;
  margin-top: 120px;
}

.item-brand-img img {
  width: 100%;
  height: 470px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  object-fit: cover;
  object-position: left;
}

.item-brand-content .br-content-title {
  padding: 10px 0;
}

.item-brand-content .br-content-title h2 {
  font-size: 120px;
  font-weight: 700;
  -webkit-text-stroke: 1px #ccc; /* Outline color and thickness */
  color: transparent;
  opacity: 0.5;
}

.item-brand-content .br-content {
  padding: 20px 0 0 20px;
  position: relative;
  margin-left: -200px;
  width: calc(100% + -17px);
  border-top-left-radius: 30px;
  background-color: #fff;
}

.item-brand-content .br-content::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(/Common/assets/image/top-shape.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  left: 145px;
}

.item-brand-content .br-content::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(/Common/assets/image/top-shape.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 180px;
  left: -30px;
}

.br-content .carousel-container {
  margin-left: -220px;
  width: 950px;
  overflow: auto;
  margin-left: auto;
  scroll-behavior: smooth;
}

.br-content .carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-list,
.list-products-sale {
  display: flex;
  align-items: center;
  width: max-content;
}

.br-content .carousel-item {
  width: 170px;
  height: 190px;
  margin: 0 10px;
  overflow: hidden;
  border-radius: 10px;
  padding: 5px;
}

.br-content .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}

#sale-wrap {
  padding: 10px 0;
  margin-top: 90px;
  position: relative;
}

#sale-wrap .title-sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

#sale-wrap .title-sale h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-header);
  padding: 10px 0;
  position: relative;
}

#sale-wrap .title-sale h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 60%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--color-hover);
}

#sale-wrap .title-sale h2 strong {
  color: var(--color-hover);
}

.title-time-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.title-time-sale span {
  box-shadow: rgba(219, 169, 5, 0.781) 0px 2px 8px 0px;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.content-sale {
  position: relative;
}

.content-sale .container-sale {
  width: 1320px;
  margin: 0 auto;
  overflow: auto;
  scroll-behavior: smooth;
}

.content-sale .container-sale::-webkit-scrollbar {
  display: none;
}

.cart-sale {
  width: 640px;
  margin: 0 10px;
}

.cart-sale .main-cart {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  border: 1px solid #00000033;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.main-cart .img-group img {
  width: 290px;
  height: 290px;
  background-color: #f1f1f17e;
}

.main-cart .img-group {
  position: relative;
}

.main-cart .img-group .sale-tag {
  position: absolute;
  top: 3%;
  left: 3%;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--color-hover);
}

.main-cart .content-group h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 10px;
}
.main-cart .content-group .price {
  font-size: 18px;
  color: #b8920b;
  font-weight: bold;
  padding: 12px 0;
  border-bottom: 1px solid #00000021;
}
.main-cart .content-group .desc {
  font-size: 14px;
  line-height: 25px;
  color: #969696;
  /* padding: 10px 0; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Số dòng tối đa muốn hiển thị */
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 15px 0;
}

.main-cart .content-group .group-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-group .group-btn a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0000009c;
  padding: 10px 14px;
  border: 1px solid #00000033;
  border-radius: 5px;
  transition: 0.5s ease-in;
}

.content-group .group-btn a:hover {
  background-color: var(--color-hover);
  color: #fff;
}

.content-group .group-btn a ion-icon {
  font-size: 18px;
}

.footer-cart {
  padding: 20px;
  border: 1px solid #00000033;
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.footer-cart .content-countdown {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: rgb(173, 49, 49);
  font-weight: 600;
}

.content-sale .directive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 30px);
  /* margin-left: -15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-sale .directive button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgba(32, 31, 31, 0.432) 0px 2px 8px 0px;
  border: none;
  outline: none;
  cursor: pointer;
}

#banner-child {
  margin-top: 40px;
  padding: 0 15px;
}

#banner-child .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
}

.item-banner-child {
  position: relative;
}

.item-banner-child .img-banner {
  overflow: hidden;
}

.item-banner-child img {
  max-width: 100%;
  border-radius: 10px;
  transition: 0.5s ease;
}

.item-banner-child img:hover {
  transform: scale(1.1);
}

.item-banner-child .content-banner {
  position: absolute;
  top: 60%;
  left: 2%;
}

.item-banner-child .content-banner h3 {
  font-size: 32px;
  letter-spacing: 0.34;
  font-weight: bold;
  padding: 10px 0;
}

.item-banner-child .content-banner a {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #222222;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
  transition: 0.5s ease;
}

.item-banner-child .content-banner a::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 20px;
  transition: 0.5s ease;
}

.item-banner-child .content-banner a:hover {
  color: #b8920b;
}

.item-banner-child .content-banner a:hover::after {
  width: 80%;
  background-color: #b8920b;
}
